[submodule "model/Llama-2-7b-hf"]
	path = model/Llama-2-7b-hf
	url = https://huggingface.co/meta-llama/Llama-2-7b-hf
[submodule "engine/llamacpp/llama.cpp"]
	path = engine/llamacpp/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
