[submodule "model/Llama-2-7b-hf"]
	path = model/Llama-2-7b-hf
	url = https://huggingface.co/meta-llama/Llama-2-7b-hf
[submodule "engine/llamacpp/llama.cpp"]
	path = engine/llamacpp/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "engine/exllama/exllama"]
	path = engine/exllama/exllama
	url = https://github.com/turboderp/exllama
[submodule "engine/exllamav2/exllamav2"]
	path = engine/exllamav2/exllamav2
	url = https://github.com/turboderp/exllamav2
[submodule "datasets/alpaca-cleaned"]
	path = datasets/alpaca-cleaned
	url = https://huggingface.co/datasets/yahma/alpaca-cleaned
[submodule "quant/squeezellm/squeezellm"]
	path = quant/squeezellm/squeezellm
	url = https://github.com/SqueezeAILab/SqueezeLLM
[submodule "quant/squeezellm/squeezellmgradients"]
	path = quant/squeezellm/squeezellmgradients
	url = https://github.com/kssteven418/SqueezeLLM-gradients.git
[submodule "quant/omniquant/omniquant"]
	path = quant/omniquant/omniquant
	url = https://github.com/OpenGVLab/OmniQuant.git
[submodule "engine/mlcllm/mlcllm"]
	path = engine/mlcllm/mlcllm
	url = https://github.com/mlc-ai/mlc-llm.git
[submodule "prune/llmpruner/llmpruner"]
	path = prune/llmpruner/llmpruner
	url = https://github.com/horseee/LLM-Pruner.git
[submodule "engine/tensorrtllm/tensorrtllm"]
	path = engine/tensorrtllm/tensorrtllm
	url = https://github.com/NVIDIA/TensorRT-LLM.git
	branch = release/0.5.0
[submodule "engine/tensorrtllm/tensorrtllm_backend"]
	path = engine/tensorrtllm/tensorrtllm_backend
	url = https://github.com/triton-inference-server/tensorrtllm_backend.git
	branch = release/0.5.0
