[submodule "model/Llama-2-7b-hf"]
	path = model/Llama-2-7b-hf
	url = https://huggingface.co/meta-llama/Llama-2-7b-hf
[submodule "engine/llamacpp/llama.cpp"]
	path = engine/llamacpp/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "engine/exllama/exllama"]
	path = engine/exllama/exllama
	url = https://github.com/turboderp/exllama
[submodule "engine/exllamav2/exllamav2"]
	path = engine/exllamav2/exllamav2
	url = https://github.com/turboderp/exllamav2
[submodule "datasets/alpaca-cleaned"]
	path = datasets/alpaca-cleaned
	url = https://huggingface.co/datasets/yahma/alpaca-cleaned
[submodule "quant/squeezellm/squeezellm"]
	path = quant/squeezellm/squeezellm
	url = https://github.com/SqueezeAILab/SqueezeLLM
[submodule "quant/squeezellm/squeezellmgradients"]
	path = quant/squeezellm/squeezellmgradients
	url = https://github.com/kssteven418/SqueezeLLM-gradients.git
